In [1]:
import pandas as pd
pd.options.display.max_columns = None
# pd.options.display.max_rows = None

from main import get_dataset, extract_feature
_, dataset = get_dataset()

dataset
features = extract_feature(dataset)
features

,Survived,Pclass,Age,SibSp,Parch,Fare,Embarked,is_test,NameWordCount,CabinNumber,TicketNumber,Sex_female,Sex_male,Personal Title_,Personal Title_dr.,Personal Title_mr.,Personal Title_mrs.,Personal Title_ms.,CabinInitChar_,CabinInitChar_A,CabinInitChar_B,CabinInitChar_C,CabinInitChar_D,CabinInitChar_E,CabinInitChar_F,CabinInitChar_G,CabinInitChar_T,TicketPrefix_,TicketPrefix_a,TicketPrefix_c,TicketPrefix_f,TicketPrefix_l,TicketPrefix_p,TicketPrefix_s,TicketPrefix_w
0,0.0,3,22.0,1,0,7.2500,0,0,4,-1,21171,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,1.0,1,38.0,1,0,71.2833,1,0,7,85,17599,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
2,1.0,3,26.0,0,0,7.9250,0,0,3,-1,3101282,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,1.0,1,35.0,1,0,53.1000,0,0,7,123,113803,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0
4,0.0,3,35.0,0,0,8.0500,0,0,4,-1,373450,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,NaN,3,28.0,0,0,8.0500,0,1,3,-1,3236,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
414,NaN,1,39.0,0,0,108.9000,1,1,5,105,17758,1,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0
415,NaN,3,38.5,0,0,7.2500,0,1,4,-1,3101262,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
416,NaN,3,28.0,0,0,8.0500,0,1,3,-1,359309,0,1,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
417,NaN,3,28.0,1,1,22.3583,1,1,4,-1,2668,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0

In [ ]:
%run main.py

In [ ]:
dataset

In [ ]:
features